<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- css link -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- fontawesome icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- logo icon on title -->
    <link rel="icon" href="/images/fav-icon.svg" type="image/svg" />
    <title>Ker Active</title>
  </head>

  <body class="">
    <header
      style="
        background: url(images/thinker-giant.png);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position:relative;
        z-index: -2;
      "
      class=""
    >
      <section style="height: 100vh" class="">
        <nav class="section">
          <div class="d-flex align-items-center">
            <img
              onclick="location.href='/'"
              src="/images/Brand-logo.svg"
              alt=""
              class="brand-logo"
            />
          </div>

          <div class="nav-links" id="nav-links">
            <ul class="navbar-links">
              <li onclick="location.href='/'" class="">HOME</li>
              <li onclick="location.href='/trainers'" class="">TRAINERS</li>
              <li onclick="location.href='/contact'" class="">CONTACT</li>
            </ul>
          </div>
        </nav>

        <div style="padding-top: 15rem" class="hero-text col-md sub2">
          <h1 class="pb-5">
            WHERE <br />
            GOALS MEET <br />
            GUIDANCE
          </h1>
        </div>
      </section>
    </header>

    <section
      style="
        background: url(images/paper-edge.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      "
      class="edge-rel"
    >
    <section class="pt-5 paper-effect2">
      <!-- <img src="images/edge effect.png" alt="" class="w-100"> -->
      <img src="images/paper-edge2.png" alt="" class="w-100">
    </section>
    
    <form action="/submit" class="" method="post" enctype="multipart/form-data" id="signUpForm">
    
      <div class="flex-wrap sub2">
        <div class="row gap-5 align-items-end mt-5">


          <div class="col-md">
            
            <div class="">
              <h1 class="reason pb-5">SIGN UP</h1>

             <div class="upload-container">
        <input type="file" id="fileInput" name="image" style="display: none;" accept="image/*" onchange="previewImage()">
        <label for="fileInput">
            <div class="d-flex align-items-center">
                <div style="background: #aaa79e;" class="card p-1 ms-auto">
                    <img src="images/upload-icon.svg" alt="" class="" />
                </div>
                <div style="background: #aaa79e;" class="card p-1 ms-2">
                    <img src="images/Delete-icon.svg" alt="" class="" />
                </div>
            </div>

            <div class="text-center my-5 py-5">
                <img id="imagePreview" src="images/image-icon.svg" alt="" class="image-preview pb-5" />

                <div class="d-flex align-items-center mb-5 pb-5">
                    <img src="images/upload-icon.svg" alt="" class="ms-auto me-3" />
                    <p class="me-auto cntact mb-0">Upload Image</p>
                </div>
            </div>
        </label>
       </div>
              
            </div>
          </div>


          <div class="col-md">
            <input
            type="text"
            id="fullname"
            name="fullname"
            class="w-100 p-4 px-5 rounded-pill text-dark bg-light mb-4 field"
            placeholder="FULLNAME"
            onblur="validateName()"
          />
          <div id="fullnameError" class="error"></div>
          <input
            type="text"
            id="email"
            name="email"
            class="w-100 p-4 px-5 rounded-pill text-dark bg-light mb-4 field"
            placeholder="EMAIL"
            onblur="isValidEmail()"
          />
          <div id="emailError" class="error"></div>
          <input
            type="text"
            name="phoneNumber"
            id="phone-number"
            class="w-100 p-4 px-5 rounded-pill text-dark bg-light mb-4 field"
            placeholder="PHONE NUMBER"
            onblur="isValidPhoneNumber()"
          />
          <div id="phoneNumberError" class="error"></div>
          <input
            type="text"
            id="location"
            name="location"
            class="w-100 p-4 px-5 rounded-pill text-dark bg-light mb-4 field"
            placeholder="LOCATION"
            onblur="validateLocation()"
          />
          <div id="locationError" class="error"></div>
              <input
                type="text"
                name="instagram"
                id="instagram"
                class="w-100 p-4 px-5 rounded-pill text-dark bg-light mb-5 field"
                placeholder="INSTAGRAM"
              />
              <input
                type="text"
                name="twitter"
                id="twitter"
                class="w-100 p-4 px-5 rounded-pill text-dark bg-light mt-1 field"
                placeholder="TWITTER (X)"
              />
            
          </div>
        </div>
      </div>

      <div style="padding-bottom:10rem;" class="sub2">
        <h1 class="all-trainers">SERVICES</h1>

         
            <fieldset class="d-flex gap-md-1 flex-wrap py-4 align-content-between serv">
              
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Exercise_Psychologist" id="Exercise_Psychologist">
                <label class="checklabel" for="Exercise_Psychologist">Exercise Psychologist</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Boxing_Instructor" id="Boxing_Instructor">
                <label class="checklabel" for="Boxing_Instructor">Boxing Instructor</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Private_Personal_Training" id="Private_Personal_Training">
                <label class="checklabel" for="Private_Personal_Training">Private Personal Training</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Nutritionist" id="Nutritionist">
                <label class="checklabel" for="Nutritionist">Nutritionist</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Surfing_Instructor" id="Surfing_Instructor">
                <label class="checklabel" for="Surfing_Instructor">Surfing Instructor</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Swimming_Instructor" id="Swimming_Instructor">
                <label class="checklabel" for="Swimming_Instructor">Swimming Instructor</label>
              </div>
              <div class="formrow">
                <input class="checkbox" type="checkbox" name="services" value="Yoga_Instructor" id="Yoga_Instructor">
                <label class="checklabel" for="Yoga_Instructor">Yoga Instructor</label>
              </div>
             
                   
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Pilates_Instructor" id="Pilates_Instructor">
              <label class="checklabel" for="Pilates_Instructor">Pilates Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Dietician" id="Dietician">
              <label class="checklabel" for="Dietician">Dietician</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Muay_Thai_Instructor" id="Muay_Thai_Instructor">
              <label class="checklabel" for="Muay_Thai_Instructor">Muay Thai Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Capoeira_Instructor" id="Capoeira_Instructor">
              <label class="checklabel" for="Capoeira_Instructor">Capoeira Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Judo_Instructor" id="Judo_Instructor">
              <label class="checklabel" for="Judo_Instructor">Judo Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Karate_Instructor" id="Karate_Instructor">
              <label class="checklabel" for="Karate_Instructor">Karate Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Kickboxing_Instructor" id="Kickboxing_Instructor">
              <label class="checklabel" for="Kickboxing_Instructor">Kickboxing Instructor</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Golf" id="Golf">
              <label class="checklabel" for="Golf">Golf</label>
            </div>
       
            
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" value="Football" id="Football">
              <label class="checklabel" for="Football">Football</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Basketball" value="Basketball">
              <label class="checklabel" for="Basketball">Basketball</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Tennis" value="Tennis">
              <label class="checklabel" for="Tennis">Tennis</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Water_Aerobics" value="Water Aerobics">
              <label class="checklabel" for="Water_Aerobics">Water Aerobics</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Badminton" value="Badminton">
              <label class="checklabel" for="Badminton">Badminton</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Volleyball" value="Volleyball">
              <label class="checklabel" for="Volleyball">Volleyball</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Table Tennis" value="Table Tennis">
              <label class="checklabel" for="Table Tennis">Table Tennis</label>
            </div>
          
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Squash" value="Squash">
              <label class="checklabel" for="Squash">Squash</label>
            </div>
            <div class="formrow">
              <input class="checkbox" type="checkbox" name="services" id="Cycling" value="Cycling">
              <label class="checklabel" for="Cycling">Cycling</label>
            </div>
            <div class="formrow" onclick="showTextArea()" id="other">
              <input class="checkbox" type="checkbox" name="services" id="Others" value="others">
              <label class="checklabel" for="Others">Others</label>
            </div>
           
          </fieldset>
        
      
        <div class="mobile split-mobile">
          <button class="btn-custom active me-4">Services</button>
          <button class="btn-custom">View All Services</button>
        </div>
        <div class="hide" id="others-input">
          <h4 class="">Not on the list? simply type into the box below and <span style="font-weight: bold;">PRESS Tab</span></h4>
          <div class="user-input-services"  id="user-input-services">
            <div
              id="buttonHost"
              class="hide"
            >
            <!-- buttons are created here dynamically -->
          </div>
            <div class="user-entering w-100">
             
                <textarea rows="14" cols="20" name="others"  id="User-input" class="w-100 textAreaServices " 
                placeholder="Enter your service here e.g., swimming, table tennis"
                onchange="displayOthersServices()">
                  
                </textarea>
              </div>
              <p class="hide" onclick="clearButtons()" id="clearBtn">
                Clear all selection
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 18 18"
                  fill="none"
                >
                  <path
                    d="M9 18C13.9235 18 18 13.9147 18 9C18 4.07647 13.9147 0 8.99118 0C4.07647 0 0 4.07647 0 9C0 13.9147 4.08529 18 9 18ZM5.88529 12.8471C5.48823 12.8471 5.16176 12.5118 5.16176 12.1059C5.16176 11.9118 5.24118 11.7353 5.37353 11.5941L7.95882 9.00882L5.37353 6.42353C5.24118 6.28235 5.16176 6.10588 5.16176 5.91176C5.16176 5.50588 5.48823 5.18824 5.88529 5.18824C6.09706 5.18824 6.26471 5.25882 6.39706 5.4L8.99118 7.98529L11.6118 5.39118C11.7618 5.24118 11.9206 5.17059 12.1147 5.17059C12.5118 5.17059 12.8382 5.49706 12.8382 5.89412C12.8382 6.09706 12.7765 6.25588 12.6265 6.41471L10.0324 9.00882L12.6176 11.5853C12.7588 11.7353 12.8294 11.9029 12.8294 12.1059C12.8294 12.5118 12.5029 12.8471 12.0971 12.8471C11.8941 12.8471 11.7176 12.7588 11.5765 12.6265L8.99118 10.0412L6.42353 12.6265C6.28235 12.7676 6.09706 12.8471 5.88529 12.8471Z"
                    fill="#3C3C43"
                    fill-opacity="0.6"
                  />
                </svg>
              </p>
          </div>
          <h4 class="">Enter a comma after each service</h4>
        </div>

        <div class="text-center my-5 pt-5">
          <button
            style="padding-left: 15rem; padding-right: 15rem"
            type="submit"
            class="btn-custom-2 text-center mx-auto"
             id="submitButton"
             >
             SUBMIT
            </button>
            
            <!-- onclick="submitForm()" -->
          <!--<p class="me-auto cntact pt-5">Already have an account? Log in</p>-->
        </div>
      </div>

    </form>
    </section>

    <!-- <section  class="d-none">
      <div style="padding-bottom: 25rem" class="sub2 px-5">
        <h1 class="all-trainers">SERVICES</h1>

        <div id="web" class="d-flex align-items-center">
          <div class="pt-5 d-flex align-items-center gap-4">
            <button class="btn-custom active">Services</button>
            <button class="btn-custom">Body Building</button>
            <button class="btn-custom">Private Personal Training</button>
            <button class="btn-custom">Online Personal Training</button>
            <button class="btn-custom">Improving General Fitness</button>
            <button class="btn-custom">Womens Fitness</button>
            <button class="btn-custom">Weight Loss</button>
          </div>
        </div>
        <div id="web" class="pt-5 d-flex align-items-center gap-4">
          <button class="btn-custom active">Services</button>
          <button class="btn-custom">Body Building</button>
          <button class="btn-custom">Private Personal Training</button>
          <button class="btn-custom">Online Personal Training</button>
          <button class="btn-custom">Improving General Fitness</button>
          <button class="btn-custom">Womens Fitness</button>
          <button class="btn-custom">Weight Loss</button>
        </div>
        <div id="web" class="pt-5 d-flex align-items-center gap-4">
          <button class="btn-custom active">Services</button>
          <button class="btn-custom">Body Building</button>
          <button class="btn-custom">Private Personal Training</button>
          <button class="btn-custom">Online Personal Training</button>
          <button class="btn-custom">Improving General Fitness</button>
          <button class="btn-custom">Womens Fitness</button>
          <button class="btn-custom">Weight Loss</button>
        </div>

        <div class="mobile split-mobile">
          <button class="btn-custom active me-4">Services</button>
          <button class="btn-custom">View All Services</button>
        </div>

        <div class="text-center my-5 pt-5">
          <button
            style="padding-left: 15rem; padding-right: 15rem"
            class="btn-custom-2 text-center mx-auto"
          >
            SUBMIT
          </button>

          <p class="me-auto cntact pt-5">Already have an account? Log in</p>
        </div>
      </div>
    </section> -->

    <footer style="background:#161717;"> 
      <section style="padding-top: 10rem;" class="sub2">
        <div class="text-center">
          <p class="lets-talk pb-5">
            lets talk
          </p>

          <img src="images/ker-active-footer-logo.svg" alt="" class="py-5 ker-active-logo">

          <div class="">
            <button onclick="location.href='signup.html'" class="btn-custom-1 my-5 mx-auto">
              GET IN TOUCH <i class="fa-solid fa-arrow-right ms-3"></i>
            </button>
          </div>
        </div>


        <div class="flex-wrap py-5">
          <div class="row align-items-start gap-5">
            <div class="col-md text-start">
              <img src="images/ker-active-mini.svg" alt="" class="pb-3">

              <div class="d-flex align-items-center gap-5 socials pt-4">
                <span>
                  <i class="fa-brands fa-instagram"></i>
                </span>
                INSTAGRAM
              </div>
              <div class="d-flex align-items-center gap-5 socials py-4">
                <span>
                  <i class="fa-brands fa-twitter"></i>
                </span>
                Twitter
              </div>
            </div>
            <div class="col-md text-start pages">
              <h2 class="text-light pb-5">PAGES</h2>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/" class="text-decoration-none">HOME</a></h4>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/trainers" class="text-decoration-none">TRAINERS</a></h4>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/contact" class="text-decoration-none">CONTACT</a></h4>
              
            </div>

            <div class="subscribe col-md-4 text-start">
              <h1 style="font-family: Anton;" class="text-light">SUBSCRIBE TO OUR NEWS LETTER</h1>
              <div class="rounded-pill email" style="background: #008080">
                <input
                  style="background: #008080"
                  type="text"
                  class="w-75 p-3 px-4 rounded-pill text-light"
                  placeholder="EMAIL"
                />
                <button
                  type="button"
                  style="background: #161717; color: white"
                  class="rounded-pill submitBtn"
                >
                  SUBMIT
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 25 25"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_405_89)">
                      <path
                        d="M12.5 24.22C19.1274 24.22 24.5 18.8474 24.5 12.22C24.5 5.59255 19.1274 0.219971 12.5 0.219971C5.87258 0.219971 0.5 5.59255 0.5 12.22C0.5 18.8474 5.87258 24.22 12.5 24.22Z"
                        fill="#EBE8E0"
                      />
                      <path
                        d="M13.4332 14.128L9.36541 10.0602L9.26827 9.96347L9.13379 9.82862L9.26827 9.69376L9.36541 9.597L9.87703 9.08538L9.97379 8.98862L10.1086 8.85376L10.2435 8.98862L10.3403 9.08538L14.4081 13.1532V9.95509H15.7871V15.5075H10.2351V14.1284L13.4332 14.128Z"
                        fill="#2D2C2A"
                        stroke="#2D2C2A"
                        stroke-width="0.569444"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_405_89">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                          transform="translate(0.5 0.219971)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </button>
              </div>
            </div>
            <div class=" col-md">
              
                <div style="margin-top: 12rem;" class="socials d-flex align-items-center">
                  <h5 class="ms-auto mb-0"><a href="#" class="text-decoration-none text-light">TO Top</a></h5>
                <span class="ms-4 ">
                  <a style="color: rgba(255, 255, 255, 0.60)" href="#" class="text-decoration-none"><i class="fa-solid fa-arrow-up"></i></a>
                </span>
                </div>
              
            </div>
          </div>
        </div>
      </section>
    </footer>

    <!-- js link file -->
    <script src="/js/script.js"></script>

    <!-- bootstrap js cdn link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>