<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LogiXpress - Transportation, Cargo & Logistics HTML Template</title>
    <link rel="icon" href="images/icon.webp" type="image/gif" sizes="16x16" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="LogiXpress - Transportation, Cargo & Logistics HTML Template"
      name="description"
    />
    <meta content="" name="keywords" />
    <meta content="" name="author" />
    <!-- CSS Files
    ================================================== -->
    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      id="bootstrap"
    />
    <link href="css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/coloring.css" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link
      id="colors"
      href="css/colors/scheme-01.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="wrapper">
      <a href="#" id="back-to-top"></a>

      <!-- page preloader begin -->
      <div id="de-loader"></div>
      <!-- page preloader close -->

      <!-- header begin -->
      <header class="transparent">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex sm-pt10">
                <div class="de-flex-col">
                  <!-- logo begin -->
                  <div id="logo">
                    <a href="/">
                      <img
                        class="logo-main"
                        src="images/logo-white-2.webp"
                        alt=""
                      />
                      <img
                        class="logo-scroll"
                        src="images/logo-white-2.webp"
                        alt=""
                      />
                      <img
                        class="logo-mobile"
                        src="images/logo-white-2.webp"
                        alt=""
                      />
                    </a>
                  </div>
                  <!-- logo end -->
                </div>
                <div class="de-flex-col header-col-mid">
                  <!-- mainemenu begin -->
                  <ul id="mainmenu">
                    <li><a class="menu-item" href="/">Home</a></li>
                    <li>
                      <a class="menu-item" href="/track">Tracking</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/service">Services</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/about-us">About Us</a>
                    </li>
                    <li>
                      <a class="menu-item" href="#section-why-choose-us"
                        >Why Choose Us</a
                      >
                    </li>
                    <li><a class="menu-item" href="#section-faq">FAQ</a></li>
                  </ul>
                  <!-- mainmenu end -->
                </div>
                <div class="de-flex-col">
                  <div class="menu_side_area">
                    <a href="/booking" class="btn-main btn-line fx-slide"
                      ><span>Book Shipment</span></a
                    >
                    <span id="menu-btn"></span>
                  </div>

                  <div id="btn-extra">
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header close -->
      <!-- content begin -->
      <div class="no-bottom no-top" id="content">
        <div id="top"></div>

        <section
          id="subheader"
          class="text-light sm-mt-90 relative rounded-1 overflow-hidden m-3"
          data-bgimage="url(images/background/7.webp) center"
        >
          <div class="container relative z-2">
            <div class="row gy-4 gx-5 align-items-center">
              <div class="col-lg-12">
                <h1 class="split">Track Your Package</h1>
                <ul class="crumb wow fadeInUp">
                  <li><a href="/">Home</a></li>
                  <li class="active">Track Your Package</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="gradient-edge-bottom color op-7 h-80"></div>
          <div class="sw-overlay op-7"></div>
        </section>

        <section class="m-3 p-0 relative overflow-hidden">
          <div class="container-fluid relative z-1">
            <div class="row g-3">
              <div class="col-lg-12">
                <div class="h-100 relative bg-color p-5 text-light rounded-1">
                  <div class="spacer-single"></div>
                  <div
                    class="row align-items-center justify-content-end relative z-2"
                  >
                    <form
                      action="/track-result"
                      method="GET"
                      class="d-flex align-items-center justify-content-end"
                    >
                      <div class="col-md-9">
                        <div class="hover-underline">
                          <input
                            class="form-underline mb-0 no-border fs-18"
                            id="order_id"
                            name="trackingId"
                            placeholder="enter your order number here..."
                            type="text"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button
                          type="submit"
                          class="btn-main bg-white text-dark fx-slide w-100"
                        >
                          <span>Track It</span>
                        </button>
                      </div>
                    </form>
                  </div>

                  <div class="spacer-double"></div>

                  <div class="col-lg-4 pos-sm-relative bottom-0 mb-5">
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                      Track your package with our trusted logistics service.
                      From pickup to delivery, we provide updates, secure
                      handling, and visibility so your shipment arrives safely
                      and on time.
                    </p>
                  </div>

                  <img
                    src="images/misc/c2.webp"
                    class="w-30 abs bottom-0 end-0 wow scaleIn"
                    data-wow-duration="2s"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- content close -->

      <!-- footer begin -->
      <footer class="text-light section-dark">
        <div class="container">
          <div class="row g-4 justify-content-between">
            <div class="col-md-6">
              <img src="images/logo-white.webp" class="w-170px mb-2" alt="" />
              <div class="spacer-single"></div>
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="widget">
                    <h5>Services</h5>
                    <ul>
                      <li><a href="service-single.html">Trucking</a></li>
                      <li><a href="service-single.html">Air Freight</a></li>
                      <li><a href="service-single.html">Ship Freight</a></li>
                      <li><a href="service-single.html">Rail Freight</a></li>
                      <li><a href="service-single.html">Warehousing</a></li>
                      <li>
                        <a href="service-single.html">Customs Brokerage</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="widget">
                    <h5>Company</h5>
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="team.html">Our Team</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="social-icons mb-sm-30 text-center">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex align-items-center justify-content-between">
                <h2>Get in Touch</h2>
                <img
                  src="images/ui/up-right-arrow.webp"
                  class="w-60px op-5"
                  alt=""
                />
              </div>

              <div class="widget">
                <div class="op-5 fs-15">Email</div>
                <h3>contact@logixpress.com</h3>

                <div class="spacer-20"></div>

                <div class="op-5 fs-15">Phone</div>
                <h3>+929 333 9296</h3>

                <div class="spacer-20"></div>

                <div class="op-5 fs-15">Office Location</div>
                <h3>100 S Main St, New York, NY</h3>

                <div class="spacer-20"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="subfooter">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                Copyright 2025 LogiXpress by Designesia
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer close -->
    </div>

    <!-- overlay content begin -->
    <div id="extra-wrap" class="text-light">
      <div id="btn-close">
        <span></span>
        <span></span>
      </div>

      <div id="extra-content">
        <img src="images/logo-white.webp" class="w-200px" alt="" />

        <div class="spacer-30-line"></div>

        <h5>Our Services</h5>
        <ul class="ul-check">
          <li>Trucking</li>
          <li>Air Fright</li>
          <li>Ship Freight</li>
          <li>Rail Freight</li>
          <li>Warehousing</li>
          <li>Customs Brokerage</li>
          <li>Last-Mile Delivery</li>
          <li>Project Cargo</li>
        </ul>

        <div class="spacer-30-line"></div>

        <h5>Contact Us</h5>
        <div><i class="icofont-phone me-2 op-5"></i>+929 333 9296</div>
        <div>
          <i class="icofont-location-pin me-2 op-5"></i>100 S Main St, New York,
          NY
        </div>
        <div>
          <i class="icofont-envelope me-2 op-5"></i>contact@logixpress.com
        </div>

        <div class="spacer-30-line"></div>

        <h5>About Us</h5>
        <p>
          We are a trusted logistics and cargo solutions provider committed to
          delivering your goods safely, efficiently, and on time. With years of
          experience in freight forwarding, warehousing, and international
          shipping.
        </p>

        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
    <!-- overlay content end -->

    <!-- Javascript Files
    ================================================== -->
    <script src="js/plugins.js"></script>
    <script src="js/designesia.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/custom-swiper-1.js"></script>
  </body>
</html>
